{% from "macros/inventory_macro.html" import render_field %}
{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}
<div class='container' style='margin: 10px; '>
	<h1>Add Product</h1>
	{% with m_failure = get_flashed_messages(category_filter=["message_failure"]) %}
		{% for m in m_failure %}
			<div class='alert alert-danger'>
				{{m}}
			</div>
		{% endfor %}
	{% endwith %}

	{% with m_success = get_flashed_messages(category_filter=["message_success"]) %}
		{% for m in m_success %}
			<div class='alert alert-success'>
				{{m}}
			</div>
		{% endfor %}
	{% endwith %}

	<form action="{{url_for('inventory.add_product')}}" method="POST">
			{{form.hidden_tag()}}
			{{render_field(form.name)}}
			{{render_field(form.price)}}
			<div class='row col-md-6'>
				{{form.submit(class='btn btn-primary', style='float: right;')}}
			</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		  $(".nav li").removeClass("active");
		  $('#Add').addClass('active');
	});
</script>

{% endblock %}