{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}

<div class='col-md-12 col-sm-12 col-xs-12' style="padding: 0">
	<h1>Cart</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Subtotal</th>
			</tr>
		</thead>
		{% for c in cart%}
		<tbody>
			<tr>
				<td>
					{{c['inventory_details']['name']}}
				</td>
				<td>
					{{ "P{:,.2f}".format(c['inventory_details']['price'])}}
				</td>
				<td>
					{{c['sum']}}
				</td>
				<td>
					{{"P{:,.2f}".format(c['sum'] * c['inventory_details']['price'])}}
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan="3" style="font-weight: bold;">Total</td>
				<td>{{"P{:,.2f}".format(total)}}</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		  $(".nav li").removeClass("active");
		  $('#Cart').addClass('active');
	});
</script>
{% endblock %}