{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}


<div class='col-md-12 col-sm-12 col-xs-12' style="margin-top: 10px;">
	<h1>Inventory</h1>
	{% with m_failure = get_flashed_messages(category_filter=["message_failure"]) %}
		{% for m in m_failure %}
			<div class='alert alert-danger'>
				{{m}}
			</div>
		{% endfor %}
	{% endwith %}

	{% with m_success = get_flashed_messages(category_filter=["message_success"]) %}
		{% for m in m_success %}
			<div class='alert alert-success'>
				{{m}}
			</div>
		{% endfor %}
	{% endwith %}
	<table class='table'>
		<thead>
			<tr>
				<th>Product</th>
				<th>Price</th>
				<th>Enter Quantity</th>
				<th>Push to Cart</th>
			</tr>
		</thead>
		<tbody>
		{% for i in inventory%}
			<tr>
				<form action="{{url_for('cart.push_to_cart')}}" method='POST'>
					<input type="hidden" value="{{i['_id']}}" name='inventory_id'>
					<td>
						{{i['name']}}
					</td>
					<td>{{ "P{:,.2f}".format(i['price']) }}</td>
					<td>
						{{cart_form.hidden_tag()}}
						{{cart_form.quantity(class='form-control', placeholder='Quantity')}}
					</td>
					<td>
						<input type="submit" value="Add" class='btn btn-primary'>
					</td>
				</form>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
<div class='col-md-12 col-sm-12 col-xs-12' style="padding: 0">
	<h1>Cart</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Subtotal</th>
			</tr>
		</thead>
		{% for c in cart%}
		<tbody>
			<tr>
				<td>
					{{c['inventory_details']['name']}}
				</td>
				<td>
					{{ "P{:,.2f}".format(c['inventory_details']['price'])}}
				</td>
				<td>
					{{c['sum']}}
				</td>
				<td>
					{{"P{:,.2f}".format(c['sum'] * c['inventory_details']['price'])}}
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan="3" style="font-weight: bold;">Total</td>
				<td>{{"P{:,.2f}".format(total)}}</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		  $(".nav li").removeClass("active");
		  $('#Inventory').addClass('active');
	});
</script>
{% endblock %}